[submodule "emacs/site-lisp/ligature.el"]
	path = emacs/site-lisp/ligature.el
	url = git@github.com:mickeynp/ligature.el.git
[submodule "emacs/site-lisp/vertico-posframe"]
	path = emacs/site-lisp/vertico-posframe
	url = git@github.com:tumashu/vertico-posframe.git
[submodule "emacs/site-lisp/vertico"]
	path = emacs/site-lisp/vertico
	url = git@github.com:minad/vertico.git
[submodule "emacs/site-lisp/corfu-doc"]
	path = emacs/site-lisp/corfu-doc
	url = git@github.com:galeo/corfu-doc.git
